<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kmd.platform.business.taojinbao.mapper.AgentInfoMapper">
    <sql id="agentInfo_fields">
		ID,WEIXINID,WEIXINORIGINALID,APPID,APPSECERT,AGENTID,FANSADDNUM,FANSCOUNTNUM,AGENTNAME
	</sql>

    <resultMap id="AgentInfoResultMap" type="AgentInfo">
        <id property="id" column="ID"/>
        <result property="weixinId" column="WEIXINID"/>
        <result property="weixinOriginalId" column="WEIXINORIGINALID"/>
        <result property="appID" column="APPID"/>
        <result property="appSecret" column="APPSECERT"/>
        <result property="agentId" column="AGENTID"/>
        <result property="fansAddNum" column="FANSADDNUM"/>
        <result property="fansCountNum" column="FANSCOUNTNUM"/>
        <result property="agentName" column="AGENTNAME"/>
    </resultMap>

    <insert id="add" parameterType="AgentInfo" keyProperty="id"
            useGeneratedKeys="true">
        INSERT INTO
        agent_info(
        <include refid="agentInfo_fields" />
        )
        VALUES (#{id},#{weixinId},#{weixinOriginalId},#{appID},#{appSecret},#{agentId},#{fansAddNum},#{fansCountNum},#{agentName});
        <selectKey resultType="long" keyProperty="id">
            select
            LAST_INSERT_ID() as id
        </selectKey>
    </insert>





    <select id="findByCondition" parameterType="map" resultMap="AgentInfoResultMap">
        SELECT
        <include refid="agentInfo_fields"/>
        FROM agent_info
        <!--<where>-->
            <!--<if test="name!=null">NAME=#{name}</if>-->
            <!--<if test="description!=null">AND DESCRIPTION=#{description}</if>-->
            <!--<if test="status!=null">AND STATUS=#{status}</if>-->
        <!--</where>-->
    </select>
    <select id="getAgentInfoByAppID" parameterType="java.lang.String" resultMap="AgentInfoResultMap">
         SELECT
        <include refid="agentInfo_fields"/>
         FROM agent_info WHERE appId=#{appId}
     </select>
    <select id="getAgentInfoByAgentName" parameterType="java.lang.String" resultMap="AgentInfoResultMap">
        SELECT
        <include refid="agentInfo_fields"/>
        FROM agent_info WHERE agentName=#{agentName}
    </select>
    <select id="getAgentInfoByAgentId" parameterType="java.lang.String" resultMap="AgentInfoResultMap">
        SELECT
        <include refid="agentInfo_fields"/>
        FROM agent_info WHERE agentId=#{agentId}
    </select>

</mapper>