<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kmd.platform.business.taojinbao.mapper.GoodsMapper">
    <sql id="goods_fields">
		id,goods_id,goods_name,goods_picture,goods_detail_url,shop_name,goods_price,goods_sells,earn_rate,commission_rate,sellers_WANGWANG,taobaoke_short_url,taobaoke_url,tao_kou_ling,discount_coupon,discount_coupon_account,discount_coupondenomination,discount_coupon_start_time,discount_couponend_time,discount_coupon_url,discount_coupon_tao_kou_ling,discount_coupon_short_url,is_maketing_plan,cate_id
	</sql>

    <resultMap id="goodsResultMap" type="Goods">
        <id property="id" column="ID"/>
        <result property="goods_id" column="GOODS_ID"/>
        <result property="goods_name" column="GOODS_NAME"/>
        <result property="goods_picture" column="GOODS_PICTURE"/>
        <result property="goods_detail_url" column="GOODS_DETAIL_URL"/>
        <result property="shop_name" column="SHOP_NAME"/>
        <result property="goods_price" column="GOODS_PRICE"/>
        <result property="goods_sells" column="GOODS_SELLS"/>
        <result property="earn_rate" column="EARN_RATE"/>
        <result property="commission_rate" column="COMMISSION_RATE"/>
        <result property="sellers_WANGWANG" column="SELLERS_WANGWANG"/>
        <result property="taobaoke_short_url" column="TAOBAOKE_SHORT_URL"/>
        <result property="taobaoke_url" column="TAOBAOKE_URL"/>
        <result property="tao_kou_ling" column="TAO_KOU_LING"/>
        <result property="discount_coupon" column="DISCOUNT_COUPON"/>
        <result property="discount_coupon_account" column="DISCOUNT_COUPON_ACCOUNT"/>
        <result property="discount_coupondenomination" column="DISCOUNT_COUPONDENOMINATION"/>
        <result property="discount_coupon_start_time" column="DISCOUNT_COUPON_START_TIME"/>
        <result property="discount_couponend_time" column="DISCOUNT_COUPONEND_TIME"/>
        <result property="discount_coupon_url" column="DISCOUNT_COUPON_URL"/>
        <result property="discount_coupon_tao_kou_ling" column="DISCOUNT_COUPON_TAO_KOU_LING"/>
        <result property="discount_coupon_short_url" column="DISCOUNT_COUPON_SHORT_URL"/>
        <result property="is_maketing_plan" column="IS_MACKETING_PLAN"/>
        <result property="cate_id" column="CATE_ID"/>

    </resultMap>

    <insert id="add" parameterType="Goods" keyProperty="id"
            useGeneratedKeys="true">
        INSERT INTO
        ims_goods_taobao(
        <include refid="goods_fields" />
        )
        VALUES (#{id},#{goods_id},#{goods_name},#{goods_picture},#{goods_detail_url},#{shop_name},
        #{goods_price},#{goods_sells},#{earn_rate},#{commission_rate},#{sellers_WANGWANG},#{taobaoke_short_url},
        #{taobaoke_url},#{tao_kou_ling},#{discount_coupon},#{discount_coupon_account},#{discount_coupondenomination},
        #{discount_coupon_start_time},#{discount_couponend_time},#{discount_coupon_url},#{discount_coupon_tao_kou_ling},
        #{discount_coupon_short_url},#{is_maketing_plan},#{cate_id});
        <selectKey resultType="long" keyProperty="id">
            select
            LAST_INSERT_ID() as id
        </selectKey>
    </insert>

    <select id="findByCondition" parameterType="map" resultMap="goodsResultMap">
        SELECT
        <include refid="goods_fields"/>
        FROM ims_goods_taobao
        where 1 = 1
        <if test="top_rate!=null">
            AND commission_rate <![CDATA[<=]]> #{top_rate}
        </if>
        <if test="lower_rate!=null">
            AND commission_rate  <![CDATA[>=]]> #{lower_rate}
        </if>
        <if test="top_price!=null">
            AND goods_price <![CDATA[<=]]> #{top_price}
        </if>
        <if test="lower_price!=null">
              AND goods_price <![CDATA[>=]]> #{lower_price}
         </if>
         <if test="cate_id!=null">
             AND cate_id=#{cate_id}
         </if>
         <if test="goods_name!=null">
             AND goods_name like CONCAT('%',#{goods_name},'%')
         </if>


    </select>


</mapper>