<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kmd.platform.business.taojinbao.mapper.GoodsSelectMapper">
    <sql id="goodsSelect_fields">
        id,goods_id,userId,agentId,cate_id
    </sql>

    <resultMap id="goodsSelectResultMap" type="GoodsSelect">
        <id property="id" column="id"/>
        <result property="goods_id" column="goods_id"/>
        <result property="userId" column="userId"/>
        <result property="agentId" column="agentId"/>
        <result property="cate_id" column="cate_id"/>
    </resultMap>

    <insert id="add" parameterType="GoodsSelect" keyProperty="id"
            useGeneratedKeys="true">
        INSERT INTO
        ims_goods_select(
        <include refid="goodsSelect_fields" />
        )
        VALUES (#{id},#{goods_id},#{userId},#{agentId},#{cate_id});
        <selectKey resultType="long" keyProperty="id">
            select
            LAST_INSERT_ID() as id
        </selectKey>
    </insert>

    <delete id="delete" parameterType="GoodsSelect">
        DELETE FROM ims_goods_select
        where goods_id=#{goods_id}
         AND  userId=#{userId} AND  agentId=#{agentId}
    </delete>


</mapper>